[submodule "frontend"]
	path = frontend
	url = https://github.com/defender737/Sales_Management_Front.git
[submodule "backend"]
	path = backend
	url = https://github.com/defender737/Sales_Management_Back.git
